In [17]:
-- A brief look at the data
SELECT TOP 20 *
FROM BankChurners

CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691,777,11914,1.335,1144,42,1.625,0.061
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256,864,7392,1.541,1291,33,3.714,0.105
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418,0,3418,2.594,1887,20,2.333,0
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313,2517,796,1.405,1171,20,2.333,0.76
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716,0,4716,2.175,816,28,2.5,0
713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010,1247,2763,1.376,1088,24,0.846,0.311
810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,6,1,3,34516,2264,32252,1.975,1330,31,0.722,0.066
818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,2,2,2,29081,1396,27685,2.204,1538,36,0.714,0.048
710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,5,2,0,22352,2517,19835,3.355,1350,24,1.182,0.113
719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,6,3,3,11656,1677,9979,1.524,1441,32,0.882,0.144
708790833,Existing Customer,42,M,5,Uneducated,Unknown,$120K +,Blue,31,5,3,2,6748,1467,5281,0.831,1201,42,0.68,0.217
710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,6,2,3,9095,1587,7508,1.433,1314,26,1.364,0.174
710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,3,6,0,11751,0,11751,3.397,1539,17,3.25,0
816082233,Existing Customer,35,M,3,Graduate,Unknown,$60K - $80K,Blue,30,5,1,3,8547,1666,6881,1.163,1311,33,2,0.195
712396908,Existing Customer,57,F,2,Graduate,Married,Less than $40K,Blue,48,5,2,2,2436,680,1756,1.19,1570,29,0.611,0.279
714885258,Existing Customer,44,M,4,Unknown,Unknown,$80K - $120K,Blue,37,5,1,2,4234,972,3262,1.707,1348,27,1.7,0.23
709967358,Existing Customer,48,M,4,Post-Graduate,Single,$80K - $120K,Blue,36,6,2,3,30367,2362,28005,1.708,1671,27,0.929,0.078
753327333,Existing Customer,41,M,3,Unknown,Married,$80K - $120K,Blue,34,4,4,1,13535,1291,12244,0.653,1028,21,1.625,0.095
806160108,Existing Customer,61,M,1,High School,Married,$40K - $60K,Blue,56,2,2,3,3193,2517,676,1.831,1336,30,1.143,0.788
709327383,Existing Customer,45,F,2,Graduate,Married,Unknown,Blue,37,6,1,2,14470,1157,13313,0.966,1207,21,0.909,0.08

In [18]:
-- Count of customers by attrition category.
SELECT Attrition_Flag, COUNT(*) count
FROM BankChurners
GROUP BY Attrition_Flag

Attrition_Flag,count
Attrited Customer,1627
Existing Customer,8500

## Create Temp Tables for Attrited and Existing Customers each

There are different options to choose from in order to seperate the 2 categories like Using a View or CTE or using the original Table with a Where Clause to filter but i chose to go with a TempTable.

In [19]:
-- Drop a temporary table called '#AttritedCustomers'
-- Drop the table if it already exists
IF OBJECT_ID('tempDB..#AttritedCustomers', 'U') IS NOT NULL
DROP TABLE #AttritedCustomers
GO
-- Create the temporary table
SELECT *
INTO #AttritedCustomers
FROM BankChurners
WHERE Attrition_Flag = 'Attrited Customer'

In [20]:
-- Drop a temporary table called '#ExistingCustomers'
-- Drop the table if it already exists
IF OBJECT_ID('tempDB..#ExistingCustomers', 'U') IS NOT NULL
DROP TABLE #ExistingCustomers
GO
-- Create the temporary table
SELECT *
INTO #ExistingCustomers
FROM BankChurners
WHERE Attrition_Flag = 'Existing Customer'

# Examine Trends for Attrited Customers

- ```
        Recency
        
      
    
    ```
    
- ```
        Frequency
        
      
    
    ```
    
    and
    
- ```
        Monetary
    
    ```
    

<span style="color: var(--vscode-editor-foreground); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px; background-color: rgba(220, 220, 220, 0.4); white-space: pre-wrap;">Other Factors will be considered</span>

## Recency

How long customer has been on the books

In [21]:
SELECT
        Max(Months_on_book) Max_month
        ,MIN(Months_on_book) Min_month
FROM #AttritedCustomers

Max_month,Min_month
56,13

In [22]:
-- How many Months on book did customers have before attrition?

with att_months as 

(
    SELECT *, count(Years_on_book)count
    FROM
(
        SELECT
     (
                CASE  
                    WHEN Months_on_book >= 48 THEN '4 years +'
                    WHEN Months_on_book >= 36 THEN '3 years +'
                    WHEN Months_on_book >= 24 THEN '2 years +'
                    WHEN Months_on_book >= 12 THEN 'Less than 2'
                    WHEN Months_on_book <12 THEN 'Less than 1 year'
                END
            ) AS 'Years_on_book'

        FROM #AttritedCustomers
    )SUB
    GROUP BY Years_on_book
)


SELECT Years_on_book, count, round(cast([count]*100 as decimal)/ (SELECT SUM(count) FROM att_months),2)as Percentage
FROM att_months
GROUP BY Years_on_book,[count]

Years_on_book,count,Percentage
3 years +,922,56.67000000000
2 years +,469,28.83000000000
4 years +,138,8.48000000000
Less than 2,98,6.02000000000

In [23]:
-- Same Query but with Gender as a Secondary Dimension

with att_months as 

(
    SELECT *,
     (
        CASE  
            WHEN Months_on_book >= 48 THEN '4 years +'
            WHEN Months_on_book >= 36 THEN '3 years +'
            WHEN Months_on_book >= 24 THEN '2 years +'
            WHEN Months_on_book >= 12 THEN '1year +'
            WHEN Months_on_book <12 THEN 'Less than 1 year'
        END
    ) AS 'Years on book'

FROM #AttritedCustomers
)
SELECT [Years on book], gender, COUNT(gender) Num_of_attr_customers
FROM att_months
GROUP BY [Years on book], gender
ORDER BY 1, 2, 3 DESC

Years on book,gender,Num_of_attr_customers
1year +,F,51
1year +,M,47
2 years +,F,267
2 years +,M,202
3 years +,F,535
3 years +,M,387
4 years +,F,77
4 years +,M,61

Months Inactive

In [24]:
SELECT Months_Inactive_12_mon, COUNT(*) COUNT
FROM #AttritedCustomers
GROUP BY Months_Inactive_12_mon
ORDER BY 2 DESC

Months_Inactive_12_mon,COUNT
3,826
2,505
4,130
1,100
5,32
6,19
0,15

## Frequency

Count of **Total Transactions** customer has made

In [25]:

SELECT FrequencyCat
    ,COUNT(*) No_of_Attr_customers -- Count of Customers in each assigned group
FROM
    (
        SELECT 

        -- First, Assign Customers to different groups based on Number of transactions
                CASE 
                     WHEN Total_Trans_Ct Between 50 and 99 THEN '50-99'
                     WHEN Total_Trans_Ct >= 20 THEN '20-49'
                     WHEN Total_Trans_Ct < 20 THEN '0-19'
                 END as FrequencyCat
        FROM #AttritedCustomers
    ) sub 

GROUP BY FrequencyCat
ORDER BY 2 DESC  -- View data in descending order of the 2nd Column (that is, the Count)

FrequencyCat,No_of_Attr_customers
20-49,1082
50-99,473
0-19,72

## Monetary

Total **Transaction Amount** of Attrited Customer

In [26]:
-- First Lets take a look at the maximum and minimum amounts to get an idea of the values

SELECT
        Max(Total_Trans_Amt) Max_amount
        ,MIN(Total_Trans_Amt) Min_amount
        -- Min(Total_Trans_Amt) Min_amount
FROM #AttritedCustomers

Max_amount,Min_amount
10583,510

In [27]:
-- Now lets create categories based on the values

SELECT Transaction_Amount_Group, COUNT(*) count
FROM
    (
        SELECT 
            Total_Trans_Amt
            ,(CASE WHEN Total_Trans_Amt >= 10000 THEN 'Above 10k'
                WHEN Total_Trans_Amt >= 5000 THEN '5k -9.9k'
                WHEN Total_Trans_Amt >= 2000 THEN '2k -4.9k'
                WHEN Total_Trans_Amt < 2000 THEN 'Below 2k'
            END) as 'Transaction_Amount_Group'
        FROM #AttritedCustomers
        )sub
GROUP BY Transaction_Amount_Group
ORDER BY 2 DESC

Transaction_Amount_Group,count
2k -4.9k,900
Below 2k,471
5k -9.9k,246
Above 10k,10

What is the **Credit Limit** of the Attrited customer?

In [28]:
SELECT MAX(Credit_limit) max
        ,MIN(Credit_limit) min
FROM #AttritedCustomers

max,min
34516,1438.3

In [29]:
-- Credit Limit

SELECT Credit_Category, COUNT(*) count
FROM 
    ( -- Using a Subquery to group by credit limit
        SELECT 
            CASE WHEN Credit_limit >= 30000 THEN '30k and above'
                 WHEN Credit_limit >= 20000 THEN '20k - 29k'
                 WHEN Credit_limit >= 10000 THEN '10k - 19k'
                 WHEN Credit_limit >= 5000 THEN '5k - 9k'
                 WHEN Credit_limit < 5000 THEN 'Below 5k'
            END AS Credit_Category

        FROM #AttritedCustomers
    )sub

GROUP BY Credit_Category
ORDER BY 2 DESC

Credit_Category,count
Below 5k,926
5k - 9k,302
10k - 19k,215
30k and above,108
20k - 29k,76

**Card category** Of Attrited Customer

In [30]:
SELECT Card_Category, COUNT(*) Count
FROM #AttritedCustomers
GROUP BY Card_Category
ORDER BY 2 DESC

Card_Category,Count
Blue,1519
Silver,82
Gold,21
Platinum,5

**Income Category** of Attrited Customer

In [36]:
-- Income Category

SELECT Income_category, COUNT(*) Count
FROM #attritedcustomers
GROUP BY Income_category
ORDER BY 2 DESC

Income_category,Count
Less than $40K,612
$40K - $60K,271
$80K - $120K,242
$60K - $80K,189
Unknown,187
$120K +,126

## Other Possible Factors

In [45]:
SELECT age_category, COUNT(*) count
FROM
    (
        SELECT Customer_Age
            ,(CASE WHEN Customer_Age >= 50 THEN '50 and Above'
                WHEN Customer_Age >= 35 THEN '35 - 49'
                WHEN Customer_Age < 35 THEN 'Under 35'
                END ) age_category
    FROM #AttritedCustomers
    ) sub
GROUP BY sub.age_category

age_category,count
35 - 49,949
50 and Above,577
Under 35,101

In [ ]:
  SELECT Customer_Age
            ,(CASE WHEN Customer_Age	>= 50 THEN 'Vet'
                WHEN Customer_Age	>= 35 THEN 'Mid'
                WHEN Customer_Age	< 35 THEN 'Young Adults'
                END ) age_category
    FROM #AttritedCustomers

Number of Dependents

In [33]:
SELECT Dependent_Count, COUNT(*) count_of_each_dependent
FROM #AttritedCustomers
GROUP BY Dependent_count
ORDER BY 2 DESC

Dependent_Count,count_of_each_dependent
3,482
2,417
1,269
4,260
0,135
5,64

Education Level

In [69]:
SELECT Education_level, 
        COUNT(*) count

FROM #AttritedCustomers

GROUP BY Education_level
ORDER BY 2 DESC

Education_level,count
Graduate,487
High School,306
Unknown,256
Uneducated,237
College,154
Doctorate,95
Post-Graduate,92

In [16]:
SELECT Total_Relationship_Count, COUNT(*) count
FROM #AttritedCustomers
GROUP BY Total_Relationship_Count 
ORDER BY 2 DESC

Total_Relationship_Count,count
3,400
2,346
1,233
5,227
4,225
6,196

Marital Status

In [92]:
SELECT Marital_Status,  COUNT(*) COUNT
FROM #AttritedCustomers
GROUP BY Marital_Status
ORDER BY 2 DESC

Marital_Status,COUNT
Married,709
Single,668
Unknown,129
Divorced,121

In [93]:
SELECT Gender,  COUNT(*) COUNT
FROM #AttritedCustomers
GROUP BY Gender
ORDER BY 2 DESC

Gender,COUNT
F,930
M,697

Number of contacts customer has had in the last twelve months

In [101]:
SELECT Contacts_Count_12_mon, COUNT(*) count
FROM #AttritedCustomers
GROUP BY Contacts_Count_12_mon
ORDER BY 2 DESC

Contacts_Count_12_mon,count
3,681
2,403
4,315
1,108
5,59
6,54
0,7

## Assigning Points/Scores based on 7 Categories

Every existing customer is likely chance to churn.

However, they'll be scored on 7 categories based on similarities Attrited Customers

**Because there's a chance to churn, the default score of every customer is 1.**

> **<span style="color: var(--vscode-foreground);">Months on Book</span><span style="color: var(--vscode-foreground);">--&gt;</span>**

- <span style="color: var(--vscode-foreground);">2 - 3 years+ = 3 points</span>
- <span style="color: var(--vscode-foreground);">4 years+ = 2points</span>

> <span style="color: var(--vscode-foreground);"><b>Transaction Count --&gt;&nbsp;</b></span>

- <span style="color: var(--vscode-foreground);">Between 20 - 49 = 3 points&nbsp;</span>
- <span style="color: var(--vscode-foreground);">50 - 99 = 2 points</span>

> <span style="color: var(--vscode-foreground);"><b>Transaction Amount --&gt;</b></span>

- <span style="color: var(--vscode-foreground);">Below 5k = 3 points</span>
- <span style="color: var(--vscode-foreground);">Between 5-10k = 2 points</span>

> <span style="color: var(--vscode-foreground);"><b>Credit Limit --&gt;&nbsp;</b></span>

- <span style="color: var(--vscode-foreground);">Below 5k = 3points&nbsp;</span>
- <span style="color: var(--vscode-foreground);">Between 5k - 20k = 2 points</span>

> <span style="color: var(--vscode-foreground);"><b>Card Category --&gt;</b></span>

- <span style="color: var(--vscode-foreground);">Blue Card = 3 points</span>
- <span style="color: var(--vscode-foreground);">Silver = 2points</span>

> <span style="color: var(--vscode-foreground);"><b>Income --&gt;</b></span>

- <span style="color: var(--vscode-foreground);">Less than 40k = 3points&nbsp;</span>
- <span style="color: var(--vscode-foreground);">Between 40 - 120k = 2 points</span>

> **AGE--\>**

- Between 35 - 49 = 3 points
- Above 50 = 2 points

In [64]:
-- Testing the scoring system to see if it is accurate on Churned customers
with scores as
(

  SELECT Clientnum, Attrition_Flag

      --Months on Book
      ,(CASE WHEN Months_on_book >= 48 THEN 2 --More than 4 years
            WHEN Months_on_book BETWEEN 24 and 47 THEN 3 --Between 2 and 3 years
          ELSE 1
      END) Months_score

      -- Transaction Count
      ,(CASE WHEN Total_Trans_Ct Between 20 and 49 THEN 3 
            WHEN Total_Trans_Ct Between 50 and 99 THEN 2 
          ELSE 1 
          /* In here, Less than 10 (maybe not tenured long enough to make a transaction)
              and Greater than 100 are given scores of 1 as they are unlikely to churn */

      END ) Transaction_count_score

      -- Transaction Amount
      ,(CASE WHEN Total_Trans_Amt < 5000 THEN 3
            WHEN Total_Trans_Amt < 10000 THEN 2 
          ELSE 1
      END) Transaction_amount_score
      
      -- Credit Limit
      ,(CASE WHEN Credit_Limit < 5000 THEN 3
            WHEN Credit_Limit < 20000 THEN 2 
          ELSE 1
      END) Credit_score

      -- Card Category
      ,(CASE WHEN Card_Category = 'Blue' THEN 3
              WHEN Card_Category = 'Silver' THEN 2
          ELSE 1
      END) Card_Score

      -- Income Category
      ,(CASE WHEN Income_Category = 'Less than $40K' THEN 3
              WHEN Income_Category IN ('$40K - $60K', '$80K - $120K', '$60K - $80K') THEN 2
          ELSE 1
      END) Income_Score

        -- AGE
      ,(CASE WHEN Customer_Age	>= 50 THEN 2
            WHEN Customer_Age	>= 35 THEN 3
            ELSE 1
            END ) age_category

  FROM BankChurners
)

SELECT total_score, count(total_score) Count
FROM
    (SELECT *,
      (Months_score + Transaction_amount_score + Transaction_count_score + Credit_score
        + Card_Score + Income_Score + age_category) as total_score
    
  FROM scores) sub
WHERE Attrition_Flag = 'Attrited Customer'
GROUP BY total_score
ORDER BY 2 DESC

total_score,Count
19,318
20,318
18,274
21,221
17,194
16,134
15,102
14,40
13,13
12,9
9,2
11,2

In [73]:
-- Scoring Existing Customers

with scores as
(

  SELECT Clientnum

      --Months on Book
      ,(CASE WHEN Months_on_book >= 48 THEN 2 --More than 4 years
            WHEN Months_on_book BETWEEN 24 and 47 THEN 3 --Between 2 and 3 years
          ELSE 1
      END) Months_score

      -- Transaction Count
      ,(CASE WHEN Total_Trans_Ct Between 20 and 49 THEN 3 
            WHEN Total_Trans_Ct Between 50 and 99 THEN 2 
          ELSE 1 
          /* In here, Less than 10 (maybe not tenured long enough to make a transaction)
              and Greater than 100 are given scores of 1 as they are unlikely to churn */

      END ) Transaction_count_score

      -- Transaction Amount
      ,(CASE WHEN Total_Trans_Amt < 5000 THEN 3
            WHEN Total_Trans_Amt < 10000 THEN 2 
          ELSE 1
      END) Transaction_amount_score
      
      -- Credit Limit
      ,(CASE WHEN Credit_Limit < 5000 THEN 3
            WHEN Credit_Limit < 20000 THEN 2 
          ELSE 1
      END) Credit_score

      -- Card Category
      ,(CASE WHEN Card_Category = 'Blue' THEN 3
              WHEN Card_Category = 'Silver' THEN 2
          ELSE 1
      END) Card_Score

      -- Income Category
      ,(CASE WHEN Income_Category = 'Less than $40K' THEN 3
              WHEN Income_Category IN ('$40K - $60K', '$80K - $120K', '$60K - $80K') THEN 2
          ELSE 1
      END) Income_Score

        -- AGE
      ,(CASE WHEN Customer_Age	>= 50 THEN 2
            WHEN Customer_Age	>= 35 THEN 3
            ELSE 1
            END ) age_category

  FROM #ExistingCustomers
)

SELECT TOP 15 clientnum, total_score --first 15
FROM
    (SELECT *,
      (Months_score + Transaction_amount_score + Transaction_count_score + Credit_score
        + Card_Score + Income_Score + age_category) as total_score
    
  FROM scores) sub
WHERE total_score >= 18 ---High Risk

clientnum,total_score
768805383,19
818770008,20
713982108,19
769911858,21
709106358,18
713061558,20
710930508,18
719661558,19
708790833,18
816082233,19
712396908,19
714885258,20
709967358,18
753327333,19
806160108,18