In [1]:
import bs4
from bs4 import BeautifulSoup
import datetime
import time
import pandas as pd
import lxml
import html
import pip._vendor.requests as requests
import html5lib

In [2]:
pd.set_option("display.max.columns",None)

Web Scraping Basketball stats. Namely the Standings table for the 22/23 regular season, Point per Game of Members of the Teams and Full RG Schedule of each team

In [3]:
url = "https://www.basketball-reference.com/leagues/NBA_2023_standings.html" #Website
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36"}

In [4]:
page = requests.get(url, headers=headers) #Request access to the HTML of the site 
soup = BeautifulSoup(page.content, "html.parser") #Use BS4 to parse the HTML, making it understandable

Standings= pd.read_html(page.content, match='Table') #Read in the Standings table. There are many tables
time.sleep(4)
Standings #I want just the first two tables which are Eastern and Western conference standings

[          Eastern Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
 0       Milwaukee Bucks* (1)  58  24  0.707     —  116.9  113.3  3.61
 1        Boston Celtics* (2)  57  25  0.695   1.0  117.9  111.4  6.38
 2    Philadelphia 76ers* (3)  54  28  0.659   4.0  115.2  110.9  4.37
 3   Cleveland Cavaliers* (4)  51  31  0.622   7.0  112.3  106.9  5.23
 4       New York Knicks* (5)  47  35  0.573  11.0  116.0  113.1  2.99
 5         Brooklyn Nets* (6)  45  37  0.549  13.0  113.4  112.5  1.03
 6            Miami Heat* (7)  44  38  0.537  14.0  109.5  109.8 -0.13
 7         Atlanta Hawks* (8)  41  41  0.500  17.0  118.4  118.1  0.32
 8       Toronto Raptors* (9)  41  41  0.500  17.0  112.9  111.4  1.59
 9        Chicago Bulls* (10)  40  42  0.488  18.0  113.1  111.8  1.37
 10       Indiana Pacers (11)  35  47  0.427  23.0  116.3  119.5 -2.91
 11   Washington Wizards (12)  35  47  0.427  23.0  113.2  114.4 -1.06
 12        Orlando Magic (13)  34  48  0.415  24.0  111.4  114.0 -2.39
 13    Charlotte Hornets (14)  27  55  0.329  31.0  111.0  117.2 -5.89
 14      Detroit Pistons (15)  17  65  0.207  41.0  110.3  118.5 -7.73,
              Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
 0           Denver Nuggets* (1)  53  29  0.646     —  115.8  112.5  3.04
 1        Memphis Grizzlies* (2)  51  31  0.622   2.0  116.9  113.0  3.60
 2         Sacramento Kings* (3)  48  34  0.585   5.0  120.7  118.1  2.30
 3             Phoenix Suns* (4)  45  37  0.549   8.0  113.6  111.6  2.08
 4     Los Angeles Clippers* (5)  44  38  0.537   9.0  113.6  113.1  0.31
 5    Golden State Warriors* (6)  44  38  0.537   9.0  118.9  117.1  1.66
 6       Los Angeles Lakers* (7)  43  39  0.524  10.0  117.2  116.6  0.43
 7   Minnesota Timberwolves* (8)  42  40  0.512  11.0  115.8  115.8 -0.22
 8     New Orleans Pelicans* (9)  42  40  0.512  11.0  114.4  112.5  1.63
 9   Oklahoma City Thunder* (10)  40  42  0.488  13.0  117.5  116.4  0.96
 10        Dallas Mavericks (11)  38  44  0.463  15.0  114.2  114.1 -0.14
 11               Utah Jazz (12)  37  45  0.451  16.0  117.1  118.0 -1.03
 12  Portland Trail Blazers (13)  33  49  0.402  20.0  113.4  117.4 -3.96
 13         Houston Rockets (14)  22  60  0.268  31.0  110.7  118.6 -7.62
 14       San Antonio Spurs (15)  22  60  0.268  31.0  113.0  123.1 -9.82,
           Eastern Conference                   W                   L  \
 0          Atlantic Division   Atlantic Division   Atlantic Division
 1        Boston Celtics* (2)                  57                  25
 2    Philadelphia 76ers* (3)                  54                  28
 3       New York Knicks* (5)                  47                  35
 4         Brooklyn Nets* (6)                  45                  37
 5       Toronto Raptors* (9)                  41                  41
 6           Central Division    Central Division    Central Division
 7       Milwaukee Bucks* (1)                  58                  24
 8   Cleveland Cavaliers* (4)                  51                  31
 9        Chicago Bulls* (10)                  40                  42
 10       Indiana Pacers (11)                  35                  47
 11      Detroit Pistons (15)                  17                  65
 12        Southeast Division  Southeast Division  Southeast Division
 13           Miami Heat* (7)                  44                  38
 14        Atlanta Hawks* (8)                  41                  41
 15   Washington Wizards (12)                  35                  47
 16        Orlando Magic (13)                  34                  48
 17    Charlotte Hornets (14)                  27                  55

                   W/L%                  GB                PS/G  \
 0    Atlantic Division   Atlantic Division   Atlantic Division
 1                 .695                   —               117.9
 2                 .659                 3.0               115.2
 3                 .573                10.0               116.0
 4                 .549                12.0               113.4
 5                 .500                16.0               112.9
 6     Central Division    Central Division    Central Division
 7                 .707                   —               116.9
 8                 .622                 7.0               112.3
 9                 .488                18.0               113.1
 10                .427                23.0               116.3
 11                .207                41.0               110.3
 12  Southeast Division  Southeast Division  Southeast Division
 13                .537                   —               109.5
 14                .500                 3.0               118.4
 15                .427                 9.0               113.2
 16                .415                10.0               111.4
 17                .329                17.0               111.0

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                111.4                6.38
 2                110.9                4.37
 3                113.1                2.99
 4                112.5                1.03
 5                111.4                1.59
 6     Central Division    Central Division
 7                113.3                3.61
 8                106.9                5.23
 9                111.8                1.37
 10               119.5               -2.91
 11               118.5               -7.73
 12  Southeast Division  Southeast Division
 13               109.8               -0.13
 14               118.1                0.32
 15               114.4               -1.06
 16               114.0               -2.39
 17               117.2               -5.89  ,
              Western Conference                   W                   L  \
 0            Northwest Division  Northwest Division  Northwest Division
 1           Denver Nuggets* (1)                  53                  29
 2   Minnesota Timberwolves* (8)                  42                  40
 3   Oklahoma City Thunder* (10)                  40                  42
 4                Utah Jazz (12)                  37                  45
 5   Portland Trail Blazers (13)                  33                  49
 6              Pacific Division    Pacific Division    Pacific Division
 7         Sacramento Kings* (3)                  48                  34
 8             Phoenix Suns* (4)                  45                  37
 9     Los Angeles Clippers* (5)                  44                  38
 10   Golden State Warriors* (6)                  44                  38
 11      Los Angeles Lakers* (7)                  43                  39
 12           Southwest Division  Southwest Division  Southwest Division
 13       Memphis Grizzlies* (2)                  51                  31
 14    New Orleans Pelicans* (9)                  42                  40
 15        Dallas Mavericks (11)                  38                  44
 16         Houston Rockets (14)                  22                  60
 17       San Antonio Spurs (15)                  22                  60

                   W/L%                  GB                PS/G  \
 0   Northwest Division  Northwest Division  Northwest Division
 1                 .646                   —               115.8
 2                 .512                11.0               115.8
 3                 .488                13.0               117.5
 4                 .451                16.0               117.1
 5                 .402                20.0               113.4
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .585                   —               120.7
 8                 .549                 3.0               113.6
 9                 .537                 4.0               113.6
 10                .537                 4.0               118.9
 11                .524                 5.0               117.2
 12  Southwest Division  Southwest Division  Southwest Division
 13                .622                   —               116.9
 14                .512                 9.0               114.4
 15                .463                13.0               114.2
 16                .268                29.0               110.7
 17                .268                29.0               113.0

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                112.5                3.04
 2                115.8               -0.22
 3                116.4                0.96
 4                118.0               -1.03
 5                117.4               -3.96
 6     Pacific Division    Pacific Division
 7                118.1                2.30
 8                111.6                2.08
 9                113.1                0.31
 10               117.1                1.66
 11               116.6                0.43
 12  Southwest Division  Southwest Division
 13               113.0                3.60
 14               112.5                1.63
 15               114.1               -0.14
 16               118.6               -7.62
 17               123.1               -9.82  ]

In [5]:
standings_east_conf = Standings[0] #First Table
standings_east_conf

          Eastern Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0       Milwaukee Bucks* (1)  58  24  0.707     —  116.9  113.3  3.61
1        Boston Celtics* (2)  57  25  0.695   1.0  117.9  111.4  6.38
2    Philadelphia 76ers* (3)  54  28  0.659   4.0  115.2  110.9  4.37
3   Cleveland Cavaliers* (4)  51  31  0.622   7.0  112.3  106.9  5.23
4       New York Knicks* (5)  47  35  0.573  11.0  116.0  113.1  2.99
5         Brooklyn Nets* (6)  45  37  0.549  13.0  113.4  112.5  1.03
6            Miami Heat* (7)  44  38  0.537  14.0  109.5  109.8 -0.13
7         Atlanta Hawks* (8)  41  41  0.500  17.0  118.4  118.1  0.32
8       Toronto Raptors* (9)  41  41  0.500  17.0  112.9  111.4  1.59
9        Chicago Bulls* (10)  40  42  0.488  18.0  113.1  111.8  1.37
10       Indiana Pacers (11)  35  47  0.427  23.0  116.3  119.5 -2.91
11   Washington Wizards (12)  35  47  0.427  23.0  113.2  114.4 -1.06
12        Orlando Magic (13)  34  48  0.415  24.0  111.4  114.0 -2.39
13    Charlotte Hornets (14)  27  55  0.329  31.0  111.0  117.2 -5.89
14      Detroit Pistons (15)  17  65  0.207  41.0  110.3  118.5 -7.73

In [6]:
standings_west_conf = Standings[1] #2nd Table
standings_west_conf

             Western Conference   W   L   W/L%    GB   PS/G   PA/G   SRS
0           Denver Nuggets* (1)  53  29  0.646     —  115.8  112.5  3.04
1        Memphis Grizzlies* (2)  51  31  0.622   2.0  116.9  113.0  3.60
2         Sacramento Kings* (3)  48  34  0.585   5.0  120.7  118.1  2.30
3             Phoenix Suns* (4)  45  37  0.549   8.0  113.6  111.6  2.08
4     Los Angeles Clippers* (5)  44  38  0.537   9.0  113.6  113.1  0.31
5    Golden State Warriors* (6)  44  38  0.537   9.0  118.9  117.1  1.66
6       Los Angeles Lakers* (7)  43  39  0.524  10.0  117.2  116.6  0.43
7   Minnesota Timberwolves* (8)  42  40  0.512  11.0  115.8  115.8 -0.22
8     New Orleans Pelicans* (9)  42  40  0.512  11.0  114.4  112.5  1.63
9   Oklahoma City Thunder* (10)  40  42  0.488  13.0  117.5  116.4  0.96
10        Dallas Mavericks (11)  38  44  0.463  15.0  114.2  114.1 -0.14
11               Utah Jazz (12)  37  45  0.451  16.0  117.1  118.0 -1.03
12  Portland Trail Blazers (13)  33  49  0.402  20.0  113.4  117.4 -3.96
13         Houston Rockets (14)  22  60  0.268  31.0  110.7  118.6 -7.62
14       San Antonio Spurs (15)  22  60  0.268  31.0  113.0  123.1 -9.82

Lets Clean it Up a little before we continue Scraping

In [7]:
#Now lets rename the columns Eastern Conf, and Western Conf to 'Team Name' so we can concat both tables
standings_east_conf.rename(columns={'Eastern Conference':'Team Name'},inplace=True)

standings_west_conf.rename(columns={'Western Conference':'Team Name'},inplace=True)

#Join both tables as standings table
standings_table = pd.concat([standings_east_conf,standings_west_conf], ignore_index=True,sort=False)
standings_table

                      Team Name   W   L   W/L%    GB   PS/G   PA/G   SRS
0          Milwaukee Bucks* (1)  58  24  0.707     —  116.9  113.3  3.61
1           Boston Celtics* (2)  57  25  0.695   1.0  117.9  111.4  6.38
2       Philadelphia 76ers* (3)  54  28  0.659   4.0  115.2  110.9  4.37
3      Cleveland Cavaliers* (4)  51  31  0.622   7.0  112.3  106.9  5.23
4          New York Knicks* (5)  47  35  0.573  11.0  116.0  113.1  2.99
5            Brooklyn Nets* (6)  45  37  0.549  13.0  113.4  112.5  1.03
6               Miami Heat* (7)  44  38  0.537  14.0  109.5  109.8 -0.13
7            Atlanta Hawks* (8)  41  41  0.500  17.0  118.4  118.1  0.32
8          Toronto Raptors* (9)  41  41  0.500  17.0  112.9  111.4  1.59
9           Chicago Bulls* (10)  40  42  0.488  18.0  113.1  111.8  1.37
10          Indiana Pacers (11)  35  47  0.427  23.0  116.3  119.5 -2.91
11      Washington Wizards (12)  35  47  0.427  23.0  113.2  114.4 -1.06
12           Orlando Magic (13)  34  48  0.415  24.0  111.4  114.0 -2.39
13       Charlotte Hornets (14)  27  55  0.329  31.0  111.0  117.2 -5.89
14         Detroit Pistons (15)  17  65  0.207  41.0  110.3  118.5 -7.73
15          Denver Nuggets* (1)  53  29  0.646     —  115.8  112.5  3.04
16       Memphis Grizzlies* (2)  51  31  0.622   2.0  116.9  113.0  3.60
17        Sacramento Kings* (3)  48  34  0.585   5.0  120.7  118.1  2.30
18            Phoenix Suns* (4)  45  37  0.549   8.0  113.6  111.6  2.08
19    Los Angeles Clippers* (5)  44  38  0.537   9.0  113.6  113.1  0.31
20   Golden State Warriors* (6)  44  38  0.537   9.0  118.9  117.1  1.66
21      Los Angeles Lakers* (7)  43  39  0.524  10.0  117.2  116.6  0.43
22  Minnesota Timberwolves* (8)  42  40  0.512  11.0  115.8  115.8 -0.22
23    New Orleans Pelicans* (9)  42  40  0.512  11.0  114.4  112.5  1.63
24  Oklahoma City Thunder* (10)  40  42  0.488  13.0  117.5  116.4  0.96
25        Dallas Mavericks (11)  38  44  0.463  15.0  114.2  114.1 -0.14
26               Utah Jazz (12)  37  45  0.451  16.0  117.1  118.0 -1.03
27  Portland Trail Blazers (13)  33  49  0.402  20.0  113.4  117.4 -3.96
28         Houston Rockets (14)  22  60  0.268  31.0  110.7  118.6 -7.62
29       San Antonio Spurs (15)  22  60  0.268  31.0  113.0  123.1 -9.82

In [8]:
#Clean standings table
standings_table=standings_table.drop(columns="GB") #Drop GB not needed
#Lets make the columns more understandable
standings_table = standings_table.rename(columns=
                    {"PS/G":"Points_Per_Game", "PA/G":"Opp PPG", "SRS":"Simple Rating System"})

In [9]:
#Now lets add a column to signify teams that made the Postseason
postseason_status = ["Yes" 
                  if "*" in p 
                  else "No" 
                  for p in standings_table["Team Name"]]
standings_table["Postseason_status"] = postseason_status

In [10]:
standings_table["Team Name"] = standings_table["Team Name"].str.replace("*", "")#Remove astericks
standings_table[["Team_Name", "num"]] = standings_table["Team Name"].str.split("(", expand=True)#split the Team name column to remove symbols.Name the split columns
standings_table = standings_table.drop(columns=["num","Team Name"])#Drop old Team name column and symbols column

In [12]:
standings_table = standings_table.sort_values(by="W/L%", ascending=False)#Arrange standings by W/%
#Rearrange Table columns
standings_table = standings_table[['Team_Name', 'W', 'L', 'W/L%',
                                  'Points_Per_Game', 'Opp PPG', 'Simple Rating System','Postseason_status']]
standings_table.reset_index(drop = True, inplace=True)#reset index
standings_table.index = standings_table.index + 1 #Let it start from 1
standings_table.index =standings_table.index.set_names(["Ranking"])#Name the index Rank
standings_table

,Team_Name,W,L,W/L%,Points_Per_Game,Opp PPG,Simple Rating System,Postseason_status
Ranking,,,,,,,,
1,Milwaukee Bucks,58,24,0.707,116.9,113.3,3.61,Yes
2,Boston Celtics,57,25,0.695,117.9,111.4,6.38,Yes
3,Philadelphia 76ers,54,28,0.659,115.2,110.9,4.37,Yes
4,Denver Nuggets,53,29,0.646,115.8,112.5,3.04,Yes
5,Cleveland Cavaliers,51,31,0.622,112.3,106.9,5.23,Yes
6,Memphis Grizzlies,51,31,0.622,116.9,113.0,3.60,Yes
7,Sacramento Kings,48,34,0.585,120.7,118.1,2.30,Yes
8,New York Knicks,47,35,0.573,116.0,113.1,2.99,Yes
9,Phoenix Suns,45,37,0.549,113.6,111.6,2.08,Yes
10,Brooklyn Nets,45,37,0.549,113.4,112.5,1.03,Yes
11,Los Angeles Clippers,44,38,0.537,113.6,113.1,0.31,Yes
12,Miami Heat,44,38,0.537,109.5,109.8,-0.13,Yes
13,Golden State Warriors,44,38,0.537,118.9,117.1,1.66,Yes
14,Los Angeles Lakers,43,39,0.524,117.2,116.6,0.43,Yes
15,Minnesota Timberwolves,42,40,0.512,115.8,115.8,-0.22,Yes
16,New Orleans Pelicans,42,40,0.512,114.4,112.5,1.63,Yes
17,Toronto Raptors,41,41,0.500,112.9,111.4,1.59,Yes
18,Atlanta Hawks,41,41,0.500,118.4,118.1,0.32,Yes
19,Chicago Bulls,40,42,0.488,113.1,111.8,1.37,Yes
20,Oklahoma City Thunder,40,42,0.488,117.5,116.4,0.96,Yes
21,Dallas Mavericks,38,44,0.463,114.2,114.1,-0.14,No
22,Utah Jazz,37,45,0.451,117.1,118.0,-1.03,No
23,Washington Wizards,35,47,0.427,113.2,114.4,-1.06,No
24,Indiana Pacers,35,47,0.427,116.3,119.5,-2.91,No
25,Orlando Magic,34,48,0.415,111.4,114.0,-2.39,No
26,Portland Trail Blazers,33,49,0.402,113.4,117.4,-3.96,No
27,Charlotte Hornets,27,55,0.329,111.0,117.2,-5.89,No
28,Houston Rockets,22,60,0.268,110.7,118.6,-7.62,No
29,San Antonio Spurs,22,60,0.268,113.0,123.1,-9.82,No
30,Detroit Pistons,17,65,0.207,110.3,118.5,-7.73,No

## Back To Scraping

Lets get all the Team URLs to access their rosters and Schedules

In [13]:

tableeast = soup.select('table.sortable')[0] #Lets select the Eastern Conference Table
tablewest = soup.select('table.sortable')[1] #Lets select the Western Conference Table
time.sleep(5)
tableeast

<table class="suppress_all sortable stats_table" data-cols-to-freeze=",1" id="confs_standings_E">
<caption>Conference Standings Table</caption>
<colgroup><col/><col/><col/><col/><col/><col/><col/><col/></colgroup>
<thead>
<tr>
<th aria-label="Eastern Conference" class="poptip sort_default_asc left" data-stat="team_name" scope="col">Eastern Conference</th>
<th aria-label="Wins" class="poptip right" data-stat="wins" data-tip="Wins" scope="col">W</th>
<th aria-label="Losses" class="poptip right" data-stat="losses" data-tip="Losses" scope="col">L</th>
<th aria-label="Win-Loss Percentage" class="poptip right" data-stat="win_loss_pct" data-tip="Win-Loss Percentage" scope="col">W/L%</th>
<th aria-label="GB" class="poptip sort_default_asc right" data-stat="gb" data-tip="Games Behind" scope="col">GB</th>
<th aria-label="Points Per Game" class="poptip right" data-stat="pts_per_g" data-tip="Points Per Game" scope="col">PS/G</th>
<th aria-label="Opponent Points Per Game" class="poptip right" data-stat="opp_pts_per_g" data-tip="Opponent Points Per Game" scope="col">PA/G</th>
<th aria-label="Simple Rating System" class="poptip right" data-stat="srs" data-tip="Simple Rating System; a team rating that takes into account average point differential and strength of schedule. The rating is denominated in points above/below average, where zero is average." scope="col">SRS</th>
</tr>
</thead>
<tbody><tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/MIL/2023.html">Milwaukee Bucks</a>* <span class="seed">(1) </span></th><td class="right" data-stat="wins">58</td><td class="right" data-stat="losses">24</td><td class="right" data-stat="win_loss_pct">.707</td><td class="right" data-stat="gb">—</td><td class="right" data-stat="pts_per_g">116.9</td><td class="right" data-stat="opp_pts_per_g">113.3</td><td class="right" data-stat="srs">3.61</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/BOS/2023.html">Boston Celtics</a>* <span class="seed">(2) </span></th><td class="right" data-stat="wins">57</td><td class="right" data-stat="losses">25</td><td class="right" data-stat="win_loss_pct">.695</td><td class="right" data-stat="gb">1.0</td><td class="right" data-stat="pts_per_g">117.9</td><td class="right" data-stat="opp_pts_per_g">111.4</td><td class="right" data-stat="srs">6.38</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/PHI/2023.html">Philadelphia 76ers</a>* <span class="seed">(3) </span></th><td class="right" data-stat="wins">54</td><td class="right" data-stat="losses">28</td><td class="right" data-stat="win_loss_pct">.659</td><td class="right" data-stat="gb">4.0</td><td class="right" data-stat="pts_per_g">115.2</td><td class="right" data-stat="opp_pts_per_g">110.9</td><td class="right" data-stat="srs">4.37</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CLE/2023.html">Cleveland Cavaliers</a>* <span class="seed">(4) </span></th><td class="right" data-stat="wins">51</td><td class="right" data-stat="losses">31</td><td class="right" data-stat="win_loss_pct">.622</td><td class="right" data-stat="gb">7.0</td><td class="right" data-stat="pts_per_g">112.3</td><td class="right" data-stat="opp_pts_per_g">106.9</td><td class="right" data-stat="srs">5.23</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/NYK/2023.html">New York Knicks</a>* <span class="seed">(5) </span></th><td class="right" data-stat="wins">47</td><td class="right" data-stat="losses">35</td><td class="right" data-stat="win_loss_pct">.573</td><td class="right" data-stat="gb">11.0</td><td class="right" data-stat="pts_per_g">116.0</td><td class="right" data-stat="opp_pts_per_g">113.1</td><td class="right" data-stat="srs">2.99</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/BRK/2023.html">Brooklyn Nets</a>* <span class="seed">(6) </span></th><td class="right" data-stat="wins">45</td><td class="right" data-stat="losses">37</td><td class="right" data-stat="win_loss_pct">.549</td><td class="right" data-stat="gb">13.0</td><td class="right" data-stat="pts_per_g">113.4</td><td class="right" data-stat="opp_pts_per_g">112.5</td><td class="right" data-stat="srs">1.03</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/MIA/2023.html">Miami Heat</a>* <span class="seed">(7) </span></th><td class="right" data-stat="wins">44</td><td class="right" data-stat="losses">38</td><td class="right" data-stat="win_loss_pct">.537</td><td class="right" data-stat="gb">14.0</td><td class="right" data-stat="pts_per_g">109.5</td><td class="right" data-stat="opp_pts_per_g">109.8</td><td class="right" data-stat="srs">-0.13</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/ATL/2023.html">Atlanta Hawks</a>* <span class="seed">(8) </span></th><td class="right" data-stat="wins">41</td><td class="right" data-stat="losses">41</td><td class="right" data-stat="win_loss_pct">.500</td><td class="right" data-stat="gb">17.0</td><td class="right" data-stat="pts_per_g">118.4</td><td class="right" data-stat="opp_pts_per_g">118.1</td><td class="right" data-stat="srs">0.32</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/TOR/2023.html">Toronto Raptors</a>* <span class="seed">(9) </span></th><td class="right" data-stat="wins">41</td><td class="right" data-stat="losses">41</td><td class="right" data-stat="win_loss_pct">.500</td><td class="right" data-stat="gb">17.0</td><td class="right" data-stat="pts_per_g">112.9</td><td class="right" data-stat="opp_pts_per_g">111.4</td><td class="right" data-stat="srs">1.59</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CHI/2023.html">Chicago Bulls</a>* <span class="seed">(10) </span></th><td class="right" data-stat="wins">40</td><td class="right" data-stat="losses">42</td><td class="right" data-stat="win_loss_pct">.488</td><td class="right" data-stat="gb">18.0</td><td class="right" data-stat="pts_per_g">113.1</td><td class="right" data-stat="opp_pts_per_g">111.8</td><td class="right" data-stat="srs">1.37</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/IND/2023.html">Indiana Pacers</a> <span class="seed">(11) </span></th><td class="right" data-stat="wins">35</td><td class="right" data-stat="losses">47</td><td class="right" data-stat="win_loss_pct">.427</td><td class="right" data-stat="gb">23.0</td><td class="right" data-stat="pts_per_g">116.3</td><td class="right" data-stat="opp_pts_per_g">119.5</td><td class="right" data-stat="srs">-2.91</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/WAS/2023.html">Washington Wizards</a> <span class="seed">(12) </span></th><td class="right" data-stat="wins">35</td><td class="right" data-stat="losses">47</td><td class="right" data-stat="win_loss_pct">.427</td><td class="right" data-stat="gb">23.0</td><td class="right" data-stat="pts_per_g">113.2</td><td class="right" data-stat="opp_pts_per_g">114.4</td><td class="right" data-stat="srs">-1.06</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/ORL/2023.html">Orlando Magic</a> <span class="seed">(13) </span></th><td class="right" data-stat="wins">34</td><td class="right" data-stat="losses">48</td><td class="right" data-stat="win_loss_pct">.415</td><td class="right" data-stat="gb">24.0</td><td class="right" data-stat="pts_per_g">111.4</td><td class="right" data-stat="opp_pts_per_g">114.0</td><td class="right" data-stat="srs">-2.39</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/CHO/2023.html">Charlotte Hornets</a> <span class="seed">(14) </span></th><td class="right" data-stat="wins">27</td><td class="right" data-stat="losses">55</td><td class="right" data-stat="win_loss_pct">.329</td><td class="right" data-stat="gb">31.0</td><td class="right" data-stat="pts_per_g">111.0</td><td class="right" data-stat="opp_pts_per_g">117.2</td><td class="right" data-stat="srs">-5.89</td></tr>
<tr class="full_table"><th class="left" data-stat="team_name" scope="row"><a href="/teams/DET/2023.html">Detroit Pistons</a> <span class="seed">(15) </span></th><td class="right" data-stat="wins">17</td><td class="right" data-stat="losses">65</td><td class="right" data-stat="win_loss_pct">.207</td><td class="right" data-stat="gb">41.0</td><td class="right" data-stat="pts_per_g">110.3</td><td class="right" data-stat="opp_pts_per_g">118.5</td><td class="right" data-stat="srs">-7.73</td></tr>
</tbody></table>

In [14]:
 #Lets find all the <a element in the Tables as they contain all the Team links
link1 =tableeast.find_all('a')
link2 =tablewest.find_all('a')

#Lets get all the links

#Eastern Conference first
href1 = [l.get("href") for l in link1]

easturl = [f"https://www.basketball-reference.com{h}" for h in href1]

#Western Conference next
href2 = [l.get("href") for l in link2]
westurl = [f"https://www.basketball-reference.com{h}" for h in href2]

time.sleep(10)

In [15]:
#Add both east and west urls and make it all teams url
teamurl = easturl + westurl
teamurl

['https://www.basketball-reference.com/teams/MIL/2023.html',
 'https://www.basketball-reference.com/teams/BOS/2023.html',
 'https://www.basketball-reference.com/teams/PHI/2023.html',
 'https://www.basketball-reference.com/teams/CLE/2023.html',
 'https://www.basketball-reference.com/teams/NYK/2023.html',
 'https://www.basketball-reference.com/teams/BRK/2023.html',
 'https://www.basketball-reference.com/teams/MIA/2023.html',
 'https://www.basketball-reference.com/teams/ATL/2023.html',
 'https://www.basketball-reference.com/teams/TOR/2023.html',
 'https://www.basketball-reference.com/teams/CHI/2023.html',
 'https://www.basketball-reference.com/teams/IND/2023.html',
 'https://www.basketball-reference.com/teams/WAS/2023.html',
 'https://www.basketball-reference.com/teams/ORL/2023.html',
 'https://www.basketball-reference.com/teams/CHO/2023.html',
 'https://www.basketball-reference.com/teams/DET/2023.html',
 'https://www.basketball-reference.com/teams/DEN/2023.html',
 'https://www.basketball-reference.com/teams/MEM/2023.html',
 'https://www.basketball-reference.com/teams/SAC/2023.html',
 'https://www.basketball-reference.com/teams/PHO/2023.html',
 'https://www.basketball-reference.com/teams/LAC/2023.html',
 'https://www.basketball-reference.com/teams/GSW/2023.html',
 'https://www.basketball-reference.com/teams/LAL/2023.html',
 'https://www.basketball-reference.com/teams/MIN/2023.html',
 'https://www.basketball-reference.com/teams/NOP/2023.html',
 'https://www.basketball-reference.com/teams/OKC/2023.html',
 'https://www.basketball-reference.com/teams/DAL/2023.html',
 'https://www.basketball-reference.com/teams/UTA/2023.html',
 'https://www.basketball-reference.com/teams/POR/2023.html',
 'https://www.basketball-reference.com/teams/HOU/2023.html',
 'https://www.basketball-reference.com/teams/SAS/2023.html']

Test on 1 team first

In [16]:
easturl[0] #Lets test on Millwaukee

'https://www.basketball-reference.com/teams/MIL/2023.html'

In [17]:
# Use the Team links and get Roster Details. Lets get from the bucks
easturlbucks = easturl[0]
data = requests.get(easturlbucks, headers=headers)

In [18]:
# Lets get the gamelog of the team. 
# This is basically their schedule, result and other details of each game such as FG,FT,e.t.c
soupgl = BeautifulSoup(data.content, "html.parser")
linkgl = soupgl.select('a')
linkgl = [l.get("href") for l in linkgl]
linkgl = [l for l in linkgl if l and "/gamelog" in l][0]

gamelogdata = requests.get(f"https://www.basketball-reference.com{linkgl}")

gamelog_rs_table = pd.read_html(gamelogdata.text, match = 'Regular Season')[0]
gamelog_rs_table.columns = gamelog_rs_table.columns.droplevel()
time.sleep(5)
gamelog_rs_table

,Rk,G,Date,Unnamed: 3_level_1,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Unnamed: 24_level_1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,1,1,2022-10-20,@,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,NaN,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14
1,2,2,2022-10-22,NaN,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,NaN,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22
2,3,3,2022-10-26,NaN,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,NaN,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24
3,4,4,2022-10-28,NaN,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,NaN,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19
4,5,5,2022-10-29,NaN,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,NaN,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,80,80,2023-04-05,NaN,CHI,W,105,92,39,92,.424,18,46,.391,9,11,.818,13,53,26,7,3,12,13,NaN,36,83,.434,11,33,.333,9,11,.818,5,38,28,10,3,15,11
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,NaN,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent
87,Rk,G,Date,NaN,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,NaN,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
88,81,81,2023-04-07,NaN,MEM,L,114,137,42,92,.457,21,49,.429,9,11,.818,11,38,30,5,3,17,15,NaN,53,93,.570,20,42,.476,11,15,.733,11,44,39,9,6,12,20
89,82,82,2023-04-09,@,TOR,L,105,121,38,82,.463,12,34,.353,17,21,.810,7,38,28,5,2,14,13,NaN,48,95,.505,11,33,.333,14,16,.875,7,45,29,8,2,9,19

In [19]:
#Lets also get the Regular season pergame stats of each member of the team
Rosterinfo = pd.read_html(data.content, match="Per Game")[0]
roster = Rosterinfo #To make it a pandas series

roster

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Jrue Holiday,32,67,65,32.6,7.3,15.3,0.479,2.4,6.1,0.384,5.0,9.1,0.542,0.556,2.3,2.6,0.859,1.2,3.9,5.1,7.4,1.2,0.4,2.9,1.7,19.3
1,2,Giannis Antetokounmpo,28,63,63,32.1,11.2,20.3,0.553,0.7,2.7,0.275,10.5,17.6,0.596,0.572,7.9,12.3,0.645,2.2,9.6,11.8,5.7,0.8,0.8,3.9,3.1,31.1
2,3,Brook Lopez,34,78,78,30.4,6.1,11.5,0.531,1.7,4.7,0.374,4.4,6.9,0.637,0.606,1.9,2.4,0.784,2.0,4.7,6.7,1.3,0.5,2.5,1.4,2.6,15.9
3,4,Grayson Allen,27,72,70,27.4,3.4,7.7,0.440,2.0,5.1,0.399,1.4,2.7,0.518,0.571,1.6,1.8,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4
4,5,Bobby Portis,27,70,22,26.0,5.7,11.5,0.496,1.4,3.7,0.370,4.3,7.8,0.555,0.555,1.4,1.8,0.768,2.2,7.4,9.6,1.5,0.4,0.2,1.2,1.6,14.1
5,6,Khris Middleton,31,33,19,24.3,5.4,12.3,0.436,1.5,4.9,0.315,3.8,7.4,0.516,0.499,2.8,3.1,0.902,0.8,3.4,4.2,4.9,0.7,0.2,2.2,2.1,15.1
6,7,Pat Connaughton,30,61,33,23.7,2.7,6.9,0.392,1.8,5.3,0.339,0.9,1.6,0.566,0.521,0.4,0.7,0.659,0.8,3.8,4.6,1.3,0.6,0.2,0.5,1.1,7.6
7,8,Joe Ingles,35,46,0,22.7,2.3,5.4,0.435,1.8,4.4,0.409,0.5,1.0,0.556,0.603,0.4,0.5,0.857,0.3,2.5,2.8,3.3,0.7,0.1,1.2,1.6,6.9
8,9,Jevon Carter,27,81,39,22.3,3.0,7.0,0.423,1.8,4.2,0.421,1.2,2.8,0.425,0.549,0.4,0.5,0.816,0.4,2.1,2.5,2.4,0.8,0.4,1.0,2.0,8.0
9,10,George Hill,36,35,0,19.1,1.7,3.8,0.447,0.7,2.1,0.311,1.0,1.7,0.621,0.534,1.0,1.3,0.739,0.4,1.5,1.9,2.5,0.5,0.1,0.8,1.2,5.0
10,11,Jae Crowder,32,18,3,18.9,2.5,5.2,0.479,1.3,3.1,0.436,1.2,2.2,0.538,0.606,0.6,0.7,0.833,0.9,2.9,3.8,1.5,0.7,0.3,0.4,1.5,6.9
11,12,Wesley Matthews,36,52,0,15.8,1.1,3.1,0.363,0.8,2.4,0.315,0.4,0.7,0.528,0.484,0.5,0.5,0.857,0.7,1.5,2.2,0.7,0.4,0.3,0.3,1.4,3.4
12,13,Jordan Nwora,24,38,3,15.7,2.0,5.2,0.386,1.1,2.7,0.392,0.9,2.5,0.379,0.487,1.0,1.1,0.860,0.8,2.3,3.1,1.0,0.3,0.2,0.9,0.9,6.0
13,14,MarJon Beauchamp,22,52,11,13.5,1.8,4.7,0.395,0.9,2.7,0.331,0.9,1.9,0.485,0.492,0.5,0.7,0.730,0.7,1.5,2.2,0.7,0.4,0.1,0.9,1.4,5.1
14,15,Meyers Leonard,30,9,2,12.7,1.6,3.2,0.483,0.8,2.0,0.389,0.8,1.2,0.636,0.603,0.9,1.0,0.889,1.3,2.4,3.8,0.1,0.2,0.0,0.7,1.8,4.8
15,16,Lindell Wigginton,24,7,1,12.4,2.6,5.3,0.486,0.9,2.6,0.333,1.7,2.7,0.632,0.568,1.1,1.3,0.889,0.0,1.0,1.0,2.0,0.0,0.3,1.7,1.0,7.1
16,17,Goran Dragić,36,7,0,11.9,2.0,5.1,0.389,1.0,2.4,0.412,1.0,2.7,0.368,0.486,0.6,0.6,1.000,0.4,1.3,1.7,1.7,0.3,0.0,1.0,0.3,5.6
17,18,Serge Ibaka,33,16,0,11.6,1.6,3.4,0.481,0.4,1.1,0.333,1.3,2.3,0.556,0.537,0.5,0.8,0.615,0.9,1.8,2.8,0.3,0.1,0.4,0.7,1.4,4.1
18,19,A.J. Green,23,35,1,9.9,1.5,3.6,0.424,1.3,3.0,0.419,0.3,0.6,0.450,0.600,0.1,0.1,1.000,0.2,1.1,1.3,0.6,0.2,0.0,0.3,0.9,4.4
19,20,Sandro Mamukelashvili,23,24,0,9.0,0.8,2.4,0.328,0.3,1.3,0.219,0.5,1.1,0.462,0.388,0.5,0.8,0.667,0.8,1.6,2.3,0.7,0.2,0.2,0.4,0.8,2.4
20,21,Thanasis Antetokounmpo,30,37,0,5.6,0.5,1.2,0.435,0.0,0.2,0.000,0.5,1.0,0.526,0.435,0.3,0.6,0.500,0.4,0.8,1.2,0.4,0.1,0.1,0.3,0.6,1.4

In [20]:
#More advanced player stat
adv = pd.read_html(data.content, match="Advanced Table") 
adv = adv[0]  #To make it a pandas series


time.sleep(4)
adv

,Rk,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,Unnamed: 17,OWS,DWS,WS,WS/48,Unnamed: 22,OBPM,DBPM,BPM,VORP
0,1,Brook Lopez,34,78,2373,18.4,0.630,0.405,0.211,7.2,15.3,11.4,6.1,0.7,6.7,9.8,19.3,NaN,4.1,3.9,8.0,0.161,NaN,0.8,1.3,2.1,2.5
1,2,Jrue Holiday,32,67,2183,19.2,0.586,0.402,0.173,3.9,12.0,8.1,34.4,1.7,0.9,15.2,25.0,NaN,3.9,2.8,6.7,0.148,NaN,3.0,0.1,3.1,2.8
2,3,Giannis Antetokounmpo,28,63,2024,29.0,0.605,0.134,0.604,7.3,30.0,19.1,33.2,1.2,2.1,13.2,38.8,NaN,4.9,3.7,8.6,0.204,NaN,5.8,2.7,8.5,5.4
3,4,Grayson Allen,27,72,1972,12.3,0.612,0.657,0.226,3.4,9.0,6.3,10.9,1.5,0.6,10.5,14.6,NaN,2.8,2.2,5.1,0.123,NaN,-0.6,0.7,0.1,1.0
4,5,Bobby Portis,27,70,1818,17.8,0.575,0.320,0.156,9.2,28.6,19.3,8.7,0.8,0.7,8.6,21.7,NaN,2.5,2.8,5.3,0.139,NaN,1.2,-0.6,0.7,1.2
5,6,Jevon Carter,27,81,1810,10.9,0.560,0.596,0.067,2.1,9.3,5.8,14.5,1.7,1.3,11.8,15.3,NaN,1.2,2.3,3.5,0.092,NaN,-1.9,1.2,-0.6,0.6
6,7,Pat Connaughton,30,61,1443,10.0,0.531,0.765,0.097,3.8,16.2,10.2,6.9,1.2,0.6,7.0,13.8,NaN,0.7,1.8,2.5,0.085,NaN,-1.3,0.3,-1.0,0.3
7,8,Joe Ingles,35,46,1044,10.7,0.616,0.819,0.085,1.4,11.1,6.4,18.4,1.5,0.5,17.6,12.6,NaN,1.1,1.2,2.3,0.107,NaN,-1.6,0.8,-0.7,0.3
8,9,Wesley Matthews,36,52,820,7.0,0.519,0.775,0.175,4.5,9.7,7.2,5.1,1.2,1.3,9.5,9.8,NaN,0.3,0.9,1.2,0.073,NaN,-3.4,0.8,-2.7,-0.1
9,10,Khris Middleton,31,33,801,17.4,0.551,0.399,0.251,3.8,14.0,9.1,30.7,1.4,0.5,13.6,27.4,NaN,1.0,1.0,1.9,0.117,NaN,1.0,-0.3,0.8,0.6
10,11,MarJon Beauchamp,22,52,701,8.2,0.513,0.584,0.152,5.9,11.0,8.5,6.7,1.4,0.8,14.8,18.3,NaN,-0.4,0.8,0.4,0.027,NaN,-4.1,-0.6,-4.8,-0.5
11,12,George Hill,36,35,668,9.8,0.575,0.561,0.348,2.1,8.1,5.2,16.8,1.4,0.4,15.1,11.3,NaN,0.7,0.7,1.4,0.100,NaN,-2.8,1.2,-1.7,0.0
12,13,Jordan Nwora,24,38,597,10.0,0.530,0.518,0.218,5.3,14.8,10.2,8.4,1.0,1.0,13.6,17.6,NaN,0.0,0.7,0.7,0.057,NaN,-2.0,-0.4,-2.4,0.0
13,14,A.J. Green,23,35,345,11.5,0.607,0.840,0.032,1.9,11.3,6.8,8.7,0.8,0.0,6.6,16.6,NaN,0.5,0.3,0.8,0.111,NaN,-0.3,-0.6,-0.9,0.1
14,15,Jae Crowder,32,18,340,14.6,0.624,0.585,0.128,5.4,15.3,10.6,10.6,1.7,1.4,6.6,13.2,NaN,0.7,0.5,1.2,0.165,NaN,0.1,1.1,1.2,0.3
15,16,Sandro Mamukelashvili,23,24,217,8.5,0.432,0.552,0.310,9.0,17.6,13.4,9.3,0.9,1.9,12.0,14.5,NaN,-0.1,0.3,0.2,0.049,NaN,-4.0,0.4,-3.6,-0.1
16,17,Thanasis Antetokounmpo,30,37,206,6.7,0.458,0.174,0.478,7.9,14.1,11.1,9.3,0.7,1.2,17.7,13.8,NaN,-0.1,0.2,0.1,0.022,NaN,-6.5,-1.1,-7.6,-0.3
17,18,Serge Ibaka,33,16,185,9.8,0.553,0.333,0.241,8.8,15.7,12.4,2.9,0.5,3.1,15.6,16.1,NaN,0.0,0.2,0.2,0.058,NaN,-4.6,0.0,-4.5,-0.1
18,19,Meyers Leonard,30,9,114,12.0,0.652,0.621,0.310,11.4,19.4,15.5,1.2,0.8,0.0,15.4,14.4,NaN,0.2,0.1,0.3,0.126,NaN,-2.8,-2.2,-5.0,-0.1
19,20,Lindell Wigginton,24,7,87,11.8,0.610,0.486,0.243,0.0,8.1,4.2,23.8,0.0,1.9,22.7,25.6,NaN,0.0,0.1,0.1,0.028,NaN,-3.1,-3.6,-6.7,-0.1
20,21,Goran Dragić,36,7,83,11.4,0.516,0.472,0.111,3.9,10.9,7.5,20.2,1.2,0.0,15.6,22.7,NaN,0.0,0.1,0.1,0.037,NaN,-2.3,-2.9,-5.2,-0.1

IT WORKED!! SO LETS DO THAT FOR ALL TEAMS

In [21]:
player_info_table = []
advtable =[]
rostertable = []
gamelog_rs = []
player_data = []

for i, s in enumerate(teamurl):
    teamname = [item.split('/')[-2] for item in teamurl]
    teamdata = requests.get(s, headers=headers)
    soup = BeautifulSoup(teamdata.text, "html.parser")
    
    all_roster = pd.read_html(teamdata.text, match="Per Game")[0]
   
    allplayerinfo = pd.read_html(teamdata.text, match="Roster")[0]
    allplayerinfo['Player'] = allplayerinfo['Player'].str.replace('(TW)',"").str.strip()

    adv = pd.read_html(teamdata.text, match="Advanced Table")[0]
    adv = adv.rename(columns={'MP':'Total_MP'})
  
    time.sleep(7)
    
    #Game Log of all teams
    soupgl = BeautifulSoup(teamdata.content, "html.parser")
    linkgl = soupgl.select('a')
    linkgl = [l.get("href") for l in linkgl]
    linkgl = [l for l in linkgl if l and "/gamelog" in l][0]

    gamelogdata = requests.get(f"https://www.basketball-reference.com{linkgl}")

    gamelog_rs_table = pd.read_html(gamelogdata.text, match='Regular Season')[0]
    gamelog_rs_table.columns = gamelog_rs_table.columns.droplevel()
    
    #Add a team column to show the teamnames so as to identify correctly
  
    allplayerinfo['Team'] = teamname[i]
    adv['Team'] = teamname[i]
    all_roster['Team'] = teamname[i]
    gamelog_rs_table['Team'] = teamname[i]
    
    #append to created list
    gamelog_rs.append(gamelog_rs_table)
    player_info_table.append(allplayerinfo)
    advtable.append(adv)
    rostertable.append(all_roster)


    time.sleep(10)

In [22]:
#SalaryTable
salary_stats = []
for i, s in enumerate(teamurl):
    teamname = [item.split('/')[-2] for item in teamurl]
    stripped_name = [t.replace("'", "").strip() for t in teamname]
    salarydata = requests.get(s, headers=headers)
    soup_salary = BeautifulSoup(salarydata.content, "html.parser")
    link_salary = soup_salary.select('a')
    link_salary = [l.get("href") for l in link_salary]
    link_salary = [l for l in link_salary if l and f"/contracts/{stripped_name[i]}.html" in l]
    link_salary = f"https://www.basketball-reference.com{link_salary[0]}"
    salarydata = requests.get(link_salary)
    salarytable = pd.read_html(salarydata.text, match="Payroll Table")[0]
    salarytable.columns =salarytable.columns.droplevel() 
    salarytable['Team'] = teamname[i]
    salary_stats.append(salarytable)
    
     

    time.sleep(10)

# A LOT OF CLEANING NEEDED BEFORE VIZ

Starting with Player info table

In [23]:
#First we concat the list to make it a pandas series

player_info_table = pd.concat(player_info_table)

In [24]:
player_info_table

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College,Team
0,5,Jevon Carter,PG,6-1,200,"September 14, 1995",us,4,West Virginia,MIL
1,11,Brook Lopez,C,7-0,282,"April 1, 1988",us,14,Stanford,MIL
2,12,Grayson Allen,SG,6-4,198,"October 8, 1995",us,4,Duke,MIL
3,9,Bobby Portis,PF,6-10,250,"February 10, 1995",us,7,Arkansas,MIL
4,21,Jrue Holiday,PG,6-3,205,"June 12, 1990",us,13,UCLA,MIL
...,...,...,...,...,...,...,...,...,...,...
12,26.0,Dominick Barlow,PF,6-9,221,"May 26, 2003",us,R,NaN,SAS
13,4.0,Devonte' Graham,PG,6-1,195,"February 22, 1995",us,4,Kansas,SAS
14,54.0,Sandro Mamukelashvili,C,6-11,240,"May 23, 1999",us,1,Seton Hall,SAS
15,30.0,Julian Champagnie,SF,6-8,220,"June 29, 2001",us,R,St. John's,SAS
16,NaN,Khem Birch,C,6-9,233,"September 28, 1992",ca,5,"Pitt, UNLV",SAS

In [25]:
player_info_table = player_info_table.rename(columns={'Ht':'Height',
        'Unnamed: 6':'Country','Wt':'Weight','Pos':'Position'}) #Rename some columns for clarity
player_info_table['Height'] = player_info_table['Height'].str.replace('-',"'").str.strip()

#Replace R for Rookie with 0 for 0 experience
player_info_table["Exp"] = player_info_table["Exp"].replace('R',0).astype(int)
player_info_table.fillna("")
player_info_table

,No.,Player,Position,Height,Weight,Birth Date,Country,Exp,College,Team
0,5,Jevon Carter,PG,6'1,200,"September 14, 1995",us,4,West Virginia,MIL
1,11,Brook Lopez,C,7'0,282,"April 1, 1988",us,14,Stanford,MIL
2,12,Grayson Allen,SG,6'4,198,"October 8, 1995",us,4,Duke,MIL
3,9,Bobby Portis,PF,6'10,250,"February 10, 1995",us,7,Arkansas,MIL
4,21,Jrue Holiday,PG,6'3,205,"June 12, 1990",us,13,UCLA,MIL
...,...,...,...,...,...,...,...,...,...,...
12,26.0,Dominick Barlow,PF,6'9,221,"May 26, 2003",us,0,NaN,SAS
13,4.0,Devonte' Graham,PG,6'1,195,"February 22, 1995",us,4,Kansas,SAS
14,54.0,Sandro Mamukelashvili,C,6'11,240,"May 23, 1999",us,1,Seton Hall,SAS
15,30.0,Julian Champagnie,SF,6'8,220,"June 29, 2001",us,0,St. John's,SAS
16,NaN,Khem Birch,C,6'9,233,"September 28, 1992",ca,5,"Pitt, UNLV",SAS

In [28]:
#Convert height to cm
def convert_height(height):
    feet, inches = map(int, height.split("'"))  # Extract feet and inches using map 
    total_inches = int(feet) * 12 + int(inches)  # Convert feet and inches to inches
    total_cm = total_inches * 2.54  # Convert inches to centimeters
    return round(total_cm, 2)  # Round the result to two decimal places

# Example usage
heights = player_info_table['Height']

converted_heights = [convert_height(height) for height in heights]

player_info_table['height_in_cm'] = converted_heights

In [101]:
player_info_table['Country'] = player_info_table['Country'].str.upper() #Capitalize it

In [102]:
player_info_table

,No.,Player,Position,Height,Weight,Birth Date,Country,Exp,College,Team,height_in_cm
0,5,Jevon Carter,PG,6'1,200,"September 14, 1995",US,4,West Virginia,MIL,185.42
1,11,Brook Lopez,C,7'0,282,"April 1, 1988",US,14,Stanford,MIL,213.36
2,12,Grayson Allen,SG,6'4,198,"October 8, 1995",US,4,Duke,MIL,193.04
3,9,Bobby Portis,PF,6'10,250,"February 10, 1995",US,7,Arkansas,MIL,208.28
4,21,Jrue Holiday,PG,6'3,205,"June 12, 1990",US,13,UCLA,MIL,190.50
...,...,...,...,...,...,...,...,...,...,...,...
12,26.0,Dominick Barlow,PF,6'9,221,"May 26, 2003",US,0,NaN,SAS,205.74
13,4.0,Devonte' Graham,PG,6'1,195,"February 22, 1995",US,4,Kansas,SAS,185.42
14,54.0,Sandro Mamukelashvili,C,6'11,240,"May 23, 1999",US,1,Seton Hall,SAS,210.82
15,30.0,Julian Champagnie,SF,6'8,220,"June 29, 2001",US,0,St. John's,SAS,203.20
16,NaN,Khem Birch,C,6'9,233,"September 28, 1992",CA,5,"Pitt, UNLV",SAS,205.74

Next Advanced stats table

In [81]:
advtable = pd.concat(advtable)

In [86]:
advtable.info()

<class 'pandas.core.frame.DataFrame'>
Index: 609 entries, 0 to 22
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rk           609 non-null    int64
 1   Player       609 non-null    object
 2   Age          609 non-null    int64
 3   G            609 non-null    int64
 4   Total_MP     609 non-null    int64
 5   PER          609 non-null    float64
 6   TS%          606 non-null    float64
 7   3PAr         606 non-null    float64
 8   FTr          606 non-null    float64
 9   ORB%         609 non-null    float64
 10  DRB%         609 non-null    float64
 11  TRB%         609 non-null    float64
 12  AST%         609 non-null    float64
 13  STL%         609 non-null    float64
 14  BLK%         609 non-null    float64
 15  TOV%         608 non-null    float64
 16  USG%         609 non-null    float64
 17  Unnamed: 17  0 non-null      float64
 18  OWS          609 non-null    float64
 19  DWS          609 non-null    float64
 20  WS           609 non-null    float64
 21  WS/48        609 non-null    float64
 22  Unnamed: 22  0 non-null      float64
 23  OBPM         609 non-null    float64
 24  DBPM         609 non-null    float64
 25  BPM          609 non-null    float64
 26  VORP         609 non-null    float64
 27  Team         609 non-null    object
dtypes: float64(22), int64(4), object(2)
memory usage: 138.0+ KB

In [89]:
#lets drop unnecessary columns
advtable.drop(['Unnamed: 17','Unnamed: 22'],axis=1,inplace=True)

In [90]:
advtable

,Rk,Player,Age,G,Total_MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,Team
0,1,Brook Lopez,34,78,2373,18.4,0.630,0.405,0.211,7.2,15.3,11.4,6.1,0.7,6.7,9.8,19.3,4.1,3.9,8.0,0.161,0.8,1.3,2.1,2.5,MIL
1,2,Jrue Holiday,32,67,2183,19.2,0.586,0.402,0.173,3.9,12.0,8.1,34.4,1.7,0.9,15.2,25.0,3.9,2.8,6.7,0.148,3.0,0.1,3.1,2.8,MIL
2,3,Giannis Antetokounmpo,28,63,2024,29.0,0.605,0.134,0.604,7.3,30.0,19.1,33.2,1.2,2.1,13.2,38.8,4.9,3.7,8.6,0.204,5.8,2.7,8.5,5.4,MIL
3,4,Grayson Allen,27,72,1972,12.3,0.612,0.657,0.226,3.4,9.0,6.3,10.9,1.5,0.6,10.5,14.6,2.8,2.2,5.1,0.123,-0.6,0.7,0.1,1.0,MIL
4,5,Bobby Portis,27,70,1818,17.8,0.575,0.320,0.156,9.2,28.6,19.3,8.7,0.8,0.7,8.6,21.7,2.5,2.8,5.3,0.139,1.2,-0.6,0.7,1.2,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,19,Gorgui Dieng,33,31,358,9.9,0.493,0.641,0.111,7.9,25.4,16.3,19.4,0.5,3.2,20.7,17.9,-0.2,0.2,0.0,0.001,-4.0,0.1,-3.9,-0.2,SAS
19,20,Julian Champagnie,21,15,313,13.8,0.609,0.633,0.133,3.4,18.1,10.5,4.6,0.8,1.3,7.5,19.3,0.3,0.1,0.4,0.067,-0.3,-2.7,-3.0,-0.1,SAS
20,21,Joshua Primo,20,4,93,6.1,0.467,0.462,0.346,2.3,13.4,7.6,24.4,0.5,1.8,26.9,18.2,-0.2,0.0,-0.1,-0.073,-4.7,-1.6,-6.3,-0.1,SAS
21,22,Jordan Hall,21,9,83,5.5,0.438,0.536,0.321,3.8,12.3,7.9,17.0,0.6,0.0,18.0,19.4,-0.1,0.0,-0.1,-0.077,-4.7,-2.9,-7.6,-0.1,SAS
22,23,Alize Johnson,26,4,30,4.3,0.509,0.333,0.333,7.0,30.3,18.2,4.2,1.6,0.0,36.8,15.0,-0.1,0.0,-0.1,-0.099,-7.4,-1.7,-9.1,-0.1,SAS

Roster table

In [92]:
rostertable = pd.concat(rostertable)
rostertable

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team
0,1,Jrue Holiday,32,67,65,32.6,7.3,15.3,0.479,2.4,6.1,0.384,5.0,9.1,0.542,0.556,2.3,2.6,0.859,1.2,3.9,5.1,7.4,1.2,0.4,2.9,1.7,19.3,MIL
1,2,Giannis Antetokounmpo,28,63,63,32.1,11.2,20.3,0.553,0.7,2.7,0.275,10.5,17.6,0.596,0.572,7.9,12.3,0.645,2.2,9.6,11.8,5.7,0.8,0.8,3.9,3.1,31.1,MIL
2,3,Brook Lopez,34,78,78,30.4,6.1,11.5,0.531,1.7,4.7,0.374,4.4,6.9,0.637,0.606,1.9,2.4,0.784,2.0,4.7,6.7,1.3,0.5,2.5,1.4,2.6,15.9,MIL
3,4,Grayson Allen,27,72,70,27.4,3.4,7.7,0.440,2.0,5.1,0.399,1.4,2.7,0.518,0.571,1.6,1.8,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4,MIL
4,5,Bobby Portis,27,70,22,26.0,5.7,11.5,0.496,1.4,3.7,0.370,4.3,7.8,0.555,0.555,1.4,1.8,0.768,2.2,7.4,9.6,1.5,0.4,0.2,1.2,1.6,14.1,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18,19,Charles Bassey,22,35,2,14.5,2.5,3.9,0.644,0.1,0.2,0.375,2.4,3.6,0.661,0.656,0.6,1.1,0.595,2.1,3.4,5.5,1.3,0.5,0.9,1.2,2.1,5.7,SAS
19,20,Gorgui Dieng,33,31,1,11.5,1.5,3.8,0.385,0.7,2.4,0.280,0.8,1.4,0.571,0.474,0.3,0.4,0.769,0.9,2.6,3.5,1.7,0.1,0.5,1.0,1.8,3.9,SAS
20,21,Isaiah Roby,24,42,2,11.3,1.6,3.7,0.432,0.4,1.4,0.300,1.2,2.3,0.516,0.490,0.5,1.0,0.488,0.5,2.0,2.5,0.9,0.4,0.2,0.7,1.3,4.1,SAS
21,22,Jordan Hall,21,9,0,9.2,1.0,3.1,0.321,0.3,1.7,0.200,0.7,1.4,0.462,0.375,0.8,1.0,0.778,0.3,1.0,1.3,1.2,0.1,0.0,0.8,0.7,3.1,SAS
22,23,Alize Johnson,26,4,0,7.5,0.8,1.5,0.500,0.0,0.5,0.000,0.8,1.0,0.750,0.500,0.3,0.5,0.500,0.5,2.0,2.5,0.3,0.3,0.0,1.0,0.8,1.8,SAS

In [111]:
rostertable.columns

Index(['Rk', 'Player', 'Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Team'],
      dtype='object')

Lets merge certain columns from the player info table and advtable with the entire roster table

In [112]:
merged_table = rostertable.merge(advtable[['Player', 'Total_MP',
                     'PER', 'TS%', 'USG%', 'BPM']], on='Player')

In [113]:
merged_table

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Team,Total_MP,PER,TS%,USG%,BPM
0,1,Jrue Holiday,32,67,65,32.6,7.3,15.3,0.479,2.4,6.1,0.384,5.0,9.1,0.542,0.556,2.3,2.6,0.859,1.2,3.9,5.1,7.4,1.2,0.4,2.9,1.7,19.3,MIL,2183,19.2,0.586,25.0,3.1
1,2,Giannis Antetokounmpo,28,63,63,32.1,11.2,20.3,0.553,0.7,2.7,0.275,10.5,17.6,0.596,0.572,7.9,12.3,0.645,2.2,9.6,11.8,5.7,0.8,0.8,3.9,3.1,31.1,MIL,2024,29.0,0.605,38.8,8.5
2,3,Brook Lopez,34,78,78,30.4,6.1,11.5,0.531,1.7,4.7,0.374,4.4,6.9,0.637,0.606,1.9,2.4,0.784,2.0,4.7,6.7,1.3,0.5,2.5,1.4,2.6,15.9,MIL,2373,18.4,0.630,19.3,2.1
3,4,Grayson Allen,27,72,70,27.4,3.4,7.7,0.440,2.0,5.1,0.399,1.4,2.7,0.518,0.571,1.6,1.8,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4,MIL,1972,12.3,0.612,14.6,0.1
4,5,Bobby Portis,27,70,22,26.0,5.7,11.5,0.496,1.4,3.7,0.370,4.3,7.8,0.555,0.555,1.4,1.8,0.768,2.2,7.4,9.6,1.5,0.4,0.2,1.2,1.6,14.1,MIL,1818,17.8,0.575,21.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,19,Charles Bassey,22,35,2,14.5,2.5,3.9,0.644,0.1,0.2,0.375,2.4,3.6,0.661,0.656,0.6,1.1,0.595,2.1,3.4,5.5,1.3,0.5,0.9,1.2,2.1,5.7,SAS,508,18.8,0.658,15.6,0.6
745,20,Gorgui Dieng,33,31,1,11.5,1.5,3.8,0.385,0.7,2.4,0.280,0.8,1.4,0.571,0.474,0.3,0.4,0.769,0.9,2.6,3.5,1.7,0.1,0.5,1.0,1.8,3.9,SAS,358,9.9,0.493,17.9,-3.9
746,21,Isaiah Roby,24,42,2,11.3,1.6,3.7,0.432,0.4,1.4,0.300,1.2,2.3,0.516,0.490,0.5,1.0,0.488,0.5,2.0,2.5,0.9,0.4,0.2,0.7,1.3,4.1,SAS,474,9.3,0.497,17.8,-4.6
747,22,Jordan Hall,21,9,0,9.2,1.0,3.1,0.321,0.3,1.7,0.200,0.7,1.4,0.462,0.375,0.8,1.0,0.778,0.3,1.0,1.3,1.2,0.1,0.0,0.8,0.7,3.1,SAS,83,5.5,0.438,19.4,-7.6
748,23,Alize Johnson,26,4,0,7.5,0.8,1.5,0.500,0.0,0.5,0.000,0.8,1.0,0.750,0.500,0.3,0.5,0.500,0.5,2.0,2.5,0.3,0.3,0.0,1.0,0.8,1.8,SAS,30,4.3,0.509,15.0,-9.1

In [116]:
#Assign all the merged info to the Player_data table
player_data = merged_table.merge(player_info_table[['Player', 
                    'height_in_cm', 'Position', 'Exp', 'Country']], on='Player')

In [132]:
player_data = player_data[['Team','Rk', 'Player', 'Age', 'height_in_cm', 'Position', 'Exp',
       'Country', 'G', 'GS', 'MP','Total_MP', 'FG', 'FGA', 'FG%', '3P', '3PA',
       '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 
       'PER', 'TS%', 'USG%', 'BPM']] #Rearrange Column order

In [134]:
player_data.columns = player_data.columns.str.lower() #use small letters for column names

In [136]:
player_data

,team,rk,player,age,height_in_cm,position,exp,country,g,gs,mp,total_mp,fg,fga,fg%,3p,3pa,3p%,2p,2pa,2p%,efg%,ft,fta,ft%,orb,drb,trb,ast,stl,blk,tov,pf,pts,per,ts%,usg%,bpm
0,MIL,1,Jrue Holiday,32,190.50,PG,13,US,67,65,32.6,2183,7.3,15.3,0.479,2.4,6.1,0.384,5.0,9.1,0.542,0.556,2.3,2.6,0.859,1.2,3.9,5.1,7.4,1.2,0.4,2.9,1.7,19.3,19.2,0.586,25.0,3.1
1,MIL,2,Giannis Antetokounmpo,28,213.36,PF,9,GR,63,63,32.1,2024,11.2,20.3,0.553,0.7,2.7,0.275,10.5,17.6,0.596,0.572,7.9,12.3,0.645,2.2,9.6,11.8,5.7,0.8,0.8,3.9,3.1,31.1,29.0,0.605,38.8,8.5
2,MIL,3,Brook Lopez,34,213.36,C,14,US,78,78,30.4,2373,6.1,11.5,0.531,1.7,4.7,0.374,4.4,6.9,0.637,0.606,1.9,2.4,0.784,2.0,4.7,6.7,1.3,0.5,2.5,1.4,2.6,15.9,18.4,0.630,19.3,2.1
3,MIL,4,Grayson Allen,27,193.04,SG,4,US,72,70,27.4,1972,3.4,7.7,0.440,2.0,5.1,0.399,1.4,2.7,0.518,0.571,1.6,1.8,0.905,0.8,2.4,3.3,2.3,0.9,0.2,1.0,1.6,10.4,12.3,0.612,14.6,0.1
4,MIL,5,Bobby Portis,27,208.28,PF,7,US,70,22,26.0,1818,5.7,11.5,0.496,1.4,3.7,0.370,4.3,7.8,0.555,0.555,1.4,1.8,0.768,2.2,7.4,9.6,1.5,0.4,0.2,1.2,1.6,14.1,17.8,0.575,21.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,SAS,16,Blake Wesley,19,195.58,SG,0,US,37,1,18.1,669,1.9,5.8,0.321,0.5,1.4,0.385,1.3,4.4,0.301,0.367,0.7,1.2,0.591,0.3,1.9,2.2,2.7,0.7,0.1,1.8,1.8,5.0,3.5,0.393,18.5,-9.6
679,SAS,18,Dominick Barlow,19,205.74,PF,0,US,28,0,14.6,408,1.6,3.1,0.535,0.0,0.1,0.000,1.6,2.9,0.561,0.535,0.6,0.9,0.720,1.6,2.0,3.6,0.9,0.4,0.7,0.5,2.0,3.9,12.4,0.567,11.3,-4.6
680,SAS,19,Charles Bassey,22,210.82,C,1,NG,35,2,14.5,508,2.5,3.9,0.644,0.1,0.2,0.375,2.4,3.6,0.661,0.656,0.6,1.1,0.595,2.1,3.4,5.5,1.3,0.5,0.9,1.2,2.1,5.7,18.8,0.658,15.6,0.6
681,SAS,20,Gorgui Dieng,33,208.28,C,9,SN,31,1,11.5,358,1.5,3.8,0.385,0.7,2.4,0.280,0.8,1.4,0.571,0.474,0.3,0.4,0.769,0.9,2.6,3.5,1.7,0.1,0.5,1.0,1.8,3.9,9.9,0.493,17.9,-3.9
682,SAS,21,Isaiah Roby,24,203.20,PF,3,US,42,2,11.3,474,1.6,3.7,0.432,0.4,1.4,0.300,1.2,2.3,0.516,0.490,0.5,1.0,0.488,0.5,2.0,2.5,0.9,0.4,0.2,0.7,1.3,4.1,9.3,0.497,17.8,-4.6

Salary table cleaning

In [140]:
salary_stats = pd.concat(salary_stats)

In [142]:
salary_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 620 entries, 0 to 25
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Player              598 non-null    object
 1   Age                 568 non-null    float64
 2   2022-23             529 non-null    object
 3   2023-24             354 non-null    object
 4   2024-25             224 non-null    object
 5   2025-26             127 non-null    object
 6   2026-27             43 non-null     object
 7   2027-28             14 non-null     object
 8   Guaranteed          541 non-null    object
 9   Team                620 non-null    object
 10  Unnamed: 9_level_1  0 non-null      float64
dtypes: float64(2), object(9)
memory usage: 58.1+ KB

In [143]:
salary_stats

,Player,Age,2022-23,2023-24,2024-25,2025-26,2026-27,2027-28,Guaranteed,Team,Unnamed: 9_level_1
0,Giannis Antetokounmpo,28.0,"$42,492,492","$45,640,084","$48,787,676","$51,935,268",NaN,NaN,"$136,920,252",MIL,NaN
1,Khris Middleton,31.0,"$37,948,276","$40,396,552",NaN,NaN,NaN,NaN,"$37,948,276",MIL,NaN
2,Jrue Holiday,33.0,"$33,665,040","$36,158,747","$38,652,454",NaN,NaN,NaN,"$69,823,787",MIL,NaN
3,Brook Lopez,35.0,"$13,906,976",NaN,NaN,NaN,NaN,NaN,"$13,906,976",MIL,NaN
4,Bobby Portis,28.0,"$10,843,350","$11,710,818","$12,578,286","$13,445,754",NaN,NaN,"$35,132,454",MIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21,Isaiah Roby,25.0,"$1,930,681",NaN,NaN,NaN,NaN,NaN,"$1,930,681",SAS,NaN
22,Stanley Johnson,27.0,"$1,245,164",NaN,NaN,NaN,NaN,NaN,"$1,245,164",SAS,NaN
23,Noah Vonleh,27.0,"$1,160,955",NaN,NaN,NaN,NaN,NaN,"$1,160,955",SAS,NaN
24,Alize Johnson,27.0,"$192,293",NaN,NaN,NaN,NaN,NaN,"$192,293",SAS,NaN
25,Team Totals,NaN,"$88,262,525","$84,257,979","$45,562,240","$36,784,592","$17,500,000",NaN,"$221,881,548",SAS,NaN

In [149]:
# Delete rows that contain team totals
salary_stats = salary_stats[(salary_stats['Player'] != 'Team Totals')] 

# Get salary for the 2022-2023 season and also keep total Guaranteed salary
salary_22_23 = salary_stats.drop(columns=['Unnamed: 9_level_1', '2023-24',
                      '2024-25', '2025-26', '2026-27', '2027-28'],axis=1)

In [154]:
salary_22_23 = salary_22_23[['Team','Player', 'Age', '2022-23', 'Guaranteed']] #Rearrange Columns
salary_22_23 = salary_22_23.rename(columns={'2022-23':'2022_23'})

In [155]:
salary_22_23

   Team                 Player   Age      2022_23    Guaranteed
0   MIL  Giannis Antetokounmpo  28.0  $42,492,492  $136,920,252
1   MIL        Khris Middleton  31.0  $37,948,276   $37,948,276
2   MIL           Jrue Holiday  33.0  $33,665,040   $69,823,787
3   MIL            Brook Lopez  35.0  $13,906,976   $13,906,976
4   MIL           Bobby Portis  28.0  $10,843,350   $35,132,454
..  ...                    ...   ...          ...           ...
20  SAS           Joe Wieskamp  23.0   $2,175,000    $2,175,000
21  SAS            Isaiah Roby  25.0   $1,930,681    $1,930,681
22  SAS        Stanley Johnson  27.0   $1,245,164    $1,245,164
23  SAS            Noah Vonleh  27.0   $1,160,955    $1,160,955
24  SAS          Alize Johnson  27.0     $192,293      $192,293

[590 rows x 5 columns]

GAMELOG CLEANING

In [30]:
gamelog = pd.concat(gamelog_rs)
gamelog

,Rk,G,Date,Unnamed: 3_level_1,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Unnamed: 24_level_1,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Team
0,1,1,2022-10-20,@,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,NaN,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14,MIL
1,2,2,2022-10-22,NaN,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,NaN,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22,MIL
2,3,3,2022-10-26,NaN,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,NaN,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24,MIL
3,4,4,2022-10-28,NaN,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,NaN,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19,MIL
4,5,5,2022-10-29,NaN,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,NaN,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,80,80,2023-04-06,NaN,POR,W,129,127,47,106,.443,10,35,.286,25,28,.893,18,47,29,9,4,14,12,NaN,51,96,.531,10,28,.357,15,18,.833,8,36,34,7,14,15,22,SAS
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,NaN,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,SAS
87,Rk,G,Date,NaN,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,NaN,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,SAS
88,81,81,2023-04-08,NaN,MIN,L,131,151,50,95,.526,13,29,.448,18,24,.750,10,45,34,5,4,13,16,NaN,56,101,.554,24,43,.558,15,21,.714,11,45,42,8,8,7,18,SAS
89,82,82,2023-04-09,@,DAL,W,138,117,51,104,.490,15,38,.395,21,30,.700,13,69,31,2,3,12,13,NaN,46,108,.426,17,53,.321,8,16,.500,8,46,28,4,3,2,21,SAS

In [31]:
# Seperate Opp and Team columns by adding prefix to Opponent columns

columns = gamelog.columns #assign gamelog columns to a variable

# Modify the last 17 column names by adding 'opp_' prefix
new_columns = list(columns[:-17]) + ['opp_' + col for col in columns[-17:]]

# Assign the modified column names back to the DataFrame
gamelog.columns = new_columns

In [32]:
gamelog

,Rk,G,Date,Unnamed: 3_level_1,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Unnamed: 24_level_1,opp_FG,opp_FGA,opp_FG%,opp_3P,opp_3PA,opp_3P%,opp_FT,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,opp_Team
0,1,1,2022-10-20,@,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,NaN,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14,MIL
1,2,2,2022-10-22,NaN,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,NaN,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22,MIL
2,3,3,2022-10-26,NaN,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,NaN,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24,MIL
3,4,4,2022-10-28,NaN,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,NaN,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19,MIL
4,5,5,2022-10-29,NaN,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,NaN,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,80,80,2023-04-06,NaN,POR,W,129,127,47,106,.443,10,35,.286,25,28,.893,18,47,29,9,4,14,12,NaN,51,96,.531,10,28,.357,15,18,.833,8,36,34,7,14,15,22,SAS
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,Team,NaN,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,Opponent,SAS
87,Rk,G,Date,NaN,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,NaN,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,SAS
88,81,81,2023-04-08,NaN,MIN,L,131,151,50,95,.526,13,29,.448,18,24,.750,10,45,34,5,4,13,16,NaN,56,101,.554,24,43,.558,15,21,.714,11,45,42,8,8,7,18,SAS
89,82,82,2023-04-09,@,DAL,W,138,117,51,104,.490,15,38,.395,21,30,.700,13,69,31,2,3,12,13,NaN,46,108,.426,17,53,.321,8,16,.500,8,46,28,4,3,2,21,SAS

In [33]:
# Drop rows where the 'Date' column is either 'Date' or null
gamelog = gamelog[(gamelog['Date'] != 'Date') & (gamelog['Date'].notnull())]
gamelog # Each team now has 82 games after removing unnecessary rows

,Rk,G,Date,Unnamed: 3_level_1,Opp,W/L,Tm,Opp,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Unnamed: 24_level_1,opp_FG,opp_FGA,opp_FG%,opp_3P,opp_3PA,opp_3P%,opp_FT,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,opp_Team
0,1,1,2022-10-20,@,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,NaN,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14,MIL
1,2,2,2022-10-22,NaN,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,NaN,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22,MIL
2,3,3,2022-10-26,NaN,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,NaN,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24,MIL
3,4,4,2022-10-28,NaN,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,NaN,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19,MIL
4,5,5,2022-10-29,NaN,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,NaN,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,78,78,2023-04-02,@,SAC,W,142,134,52,98,.531,13,34,.382,25,29,.862,14,52,31,8,3,17,25,NaN,49,103,.476,11,44,.250,25,32,.781,13,43,24,9,5,15,23,SAS
84,79,79,2023-04-04,@,PHO,L,94,115,35,90,.389,13,40,.325,11,14,.786,9,38,25,7,5,12,16,NaN,43,89,.483,10,33,.303,19,26,.731,15,57,25,7,7,13,12,SAS
85,80,80,2023-04-06,NaN,POR,W,129,127,47,106,.443,10,35,.286,25,28,.893,18,47,29,9,4,14,12,NaN,51,96,.531,10,28,.357,15,18,.833,8,36,34,7,14,15,22,SAS
88,81,81,2023-04-08,NaN,MIN,L,131,151,50,95,.526,13,29,.448,18,24,.750,10,45,34,5,4,13,16,NaN,56,101,.554,24,43,.558,15,21,.714,11,45,42,8,8,7,18,SAS
89,82,82,2023-04-09,@,DAL,W,138,117,51,104,.490,15,38,.395,21,30,.700,13,69,31,2,3,12,13,NaN,46,108,.426,17,53,.321,8,16,.500,8,46,28,4,3,2,21,SAS

In [ ]:
gamelog = gamelog.rename(columns={"Unnamed: 3_level_1":"home_away",
                        "Opp":"Opponent",'Tm':"team_points","Opp":"opp_points"})

In [37]:
gamelog

,Rk,G,Date,home_away,opp_points,W/L,team_points,opp_points,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,Unnamed: 24_level_1,opp_FG,opp_FGA,opp_FG%,opp_3P,opp_3PA,opp_3P%,opp_FT,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,opp_Team
0,1,1,2022-10-20,@,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,NaN,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14,MIL
1,2,2,2022-10-22,NaN,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,NaN,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22,MIL
2,3,3,2022-10-26,NaN,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,NaN,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24,MIL
3,4,4,2022-10-28,NaN,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,NaN,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19,MIL
4,5,5,2022-10-29,NaN,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,NaN,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,78,78,2023-04-02,@,SAC,W,142,134,52,98,.531,13,34,.382,25,29,.862,14,52,31,8,3,17,25,NaN,49,103,.476,11,44,.250,25,32,.781,13,43,24,9,5,15,23,SAS
84,79,79,2023-04-04,@,PHO,L,94,115,35,90,.389,13,40,.325,11,14,.786,9,38,25,7,5,12,16,NaN,43,89,.483,10,33,.303,19,26,.731,15,57,25,7,7,13,12,SAS
85,80,80,2023-04-06,NaN,POR,W,129,127,47,106,.443,10,35,.286,25,28,.893,18,47,29,9,4,14,12,NaN,51,96,.531,10,28,.357,15,18,.833,8,36,34,7,14,15,22,SAS
88,81,81,2023-04-08,NaN,MIN,L,131,151,50,95,.526,13,29,.448,18,24,.750,10,45,34,5,4,13,16,NaN,56,101,.554,24,43,.558,15,21,.714,11,45,42,8,8,7,18,SAS
89,82,82,2023-04-09,@,DAL,W,138,117,51,104,.490,15,38,.395,21,30,.700,13,69,31,2,3,12,13,NaN,46,108,.426,17,53,.321,8,16,.500,8,46,28,4,3,2,21,SAS

In [39]:
gamelog['home_away'] = gamelog['home_away'].str.replace("@","Away").fillna('Home')

In [45]:
gamelog = gamelog.drop(['Rk','G'],axis=1)

In [48]:
#Index is all over the place. Fix
gamelog.reset_index(drop=True,inplace=True)

In [54]:
gamelog.drop('Unnamed: 24_level_1',axis=1, inplace=True)

In [68]:
#Still noticing some duplicate column names called 'Opponent' so lets fix that
gamelog.columns = ['Date', 'home_away', 'Opponent', 'W/L', 'team_points', 'opp_points', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'opp_FG', 'opp_FGA', 'opp_FG%',
       'opp_3P', 'opp_3PA', 'opp_3P%', 'opp_FT', 'opp_FTA', 'opp_FT%',
       'opp_ORB', 'opp_TRB', 'opp_AST', 'opp_STL', 'opp_BLK', 'opp_TOV',
       'opp_PF', 'opp_Team']

In [69]:
gamelog

,Date,home_away,Opponent,W/L,team_points,opp_points,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,opp_FG,opp_FGA,opp_FG%,opp_3P,opp_3PA,opp_3P%,opp_FT,opp_FTA,opp_FT%,opp_ORB,opp_TRB,opp_AST,opp_STL,opp_BLK,opp_TOV,opp_PF,opp_Team
0,2022-10-20,Away,PHI,W,90,88,34,84,.405,13,42,.310,9,14,.643,7,48,24,4,6,12,16,36,83,.434,5,24,.208,11,13,.846,6,44,17,6,5,10,14,MIL
1,2022-10-22,Home,HOU,W,125,105,48,85,.565,16,31,.516,13,21,.619,8,47,29,6,10,16,22,36,93,.387,16,37,.432,17,22,.773,15,47,20,9,6,12,22,MIL
2,2022-10-26,Home,BRK,W,110,99,39,88,.443,10,36,.278,22,29,.759,14,54,21,8,12,18,22,34,86,.395,7,27,.259,24,30,.800,7,37,23,7,6,14,24,MIL
3,2022-10-28,Home,NYK,W,119,108,42,109,.385,13,45,.289,22,27,.815,19,60,23,8,8,6,23,37,93,.398,12,35,.343,22,32,.688,13,54,19,6,5,12,19,MIL
4,2022-10-29,Home,ATL,W,123,115,45,92,.489,14,36,.389,19,29,.655,14,49,24,8,5,11,18,45,94,.479,13,29,.448,12,15,.800,12,42,19,5,2,12,23,MIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2023-04-02,Away,SAC,W,142,134,52,98,.531,13,34,.382,25,29,.862,14,52,31,8,3,17,25,49,103,.476,11,44,.250,25,32,.781,13,43,24,9,5,15,23,SAS
2456,2023-04-04,Away,PHO,L,94,115,35,90,.389,13,40,.325,11,14,.786,9,38,25,7,5,12,16,43,89,.483,10,33,.303,19,26,.731,15,57,25,7,7,13,12,SAS
2457,2023-04-06,Home,POR,W,129,127,47,106,.443,10,35,.286,25,28,.893,18,47,29,9,4,14,12,51,96,.531,10,28,.357,15,18,.833,8,36,34,7,14,15,22,SAS
2458,2023-04-08,Home,MIN,L,131,151,50,95,.526,13,29,.448,18,24,.750,10,45,34,5,4,13,16,56,101,.554,24,43,.558,15,21,.714,11,45,42,8,8,7,18,SAS
2459,2023-04-09,Away,DAL,W,138,117,51,104,.490,15,38,.395,21,30,.700,13,69,31,2,3,12,13,46,108,.426,17,53,.321,8,16,.500,8,46,28,4,3,2,21,SAS

Save as Parquet

In [77]:
import pyarrow as pa
import pyarrow.parquet as pq

In [78]:

gamelog.to_parquet(r'C:\Users\USER\Documents\Python\nbagamelog22-23.parquet')

In [138]:
player_data.to_parquet(r'C:\Users\USER\Documents\Python\nbaplayerdata.parquet')

In [ ]:
salary_22_23.to_parquet(r'C:\Users\USER\Documents\Python\salary_22-23.parquet')

In [156]:
standings_table.to_parquet(r"C:\Users\USER\Documents\Python\nbastandings22-23.parquet")